.hover-up:hover{
    transform: translateY(-4px);
}

.hover-scale:hover{
  transform: scale(1.1);
  background-color: #505052;
}

.table-responsive {
    white-space: nowrap;
  }

@media (max-width: 800px) {
    .table-responsive {
      /* display: block; */
      width: 100%;
      overflow-x: auto;
    }
  }