


::-webkit-calendar-picker-indicator{
    cursor: pointer;
    color: #8bb4f6;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 138px;
    height: 25px;
    opacity: 0;
}
