.modal-active{
    border: 2px solid #5e90e0;
    border-radius: 4px;
}

.mantine-Modal-body{
    width: 100% !important;
}

.mantine-Modal-title{
    user-select: none;
    color: #fff;
    font-size: large;
    letter-spacing: 1px;
}

.mantine-Modal-close{
    color: #fff;
    transition: 300ms;
}

.mantine-Modal-close:hover{
    background-color: #202124;
}

.mantine-Modal-content{
    background-color: #202124;
}

.mantine-Modal-header{
    background-color: #161618;
    width: 100%;
}

