.sidebarLink:hover{
  color: #8ab4f8;
  background-color: #202124;
}

.sidebarActive{
  color: #8ab4f8 ;
}

.scrollbar{
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3f4245;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}


/* default scrollbar  */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px;
  }

  /* Show a custom scrollbar style on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }