.table-responsive2 {
    white-space: nowrap;
  }

@media (max-width: 1000px) {
    .table-responsive2 {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
}

.drag-over{
  background-color: red;
}

.img-div:hover{
  .img-icon{
    opacity: 100%;
  }
}

.img-icon{
  opacity: 0;
  transition: 300ms;
}